test.poc.customer/Schemas/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Customer" xmlns:tns="http://www.example.org/Customer" elementFormDefault="qualified">

    <element name="CustomerData" type="tns:Customer"></element>

    <complexType name="Customer">
    	<sequence>
    		<element name="ID" type="string"></element>
    		<element name="Name" type="string"></element>
    		<element name="DOB" type="string"></element>
    	</sequence>
    </complexType>
</schema>